@tailwind base;
@tailwind components;
@tailwind utilities;
@import "transition-style";

.nav {
  @apply relative hover:text-white dark:hover:text-black h-[2.2rem];
}

.nav::after {
  @apply content-[""] bg-red-800 h-[3px] w-[0%] left-0 -bottom-[5px] rounded-lg absolute duration-300;
}

.nav:hover::after {
  @apply w-[100%];
}

html {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.dark html {
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}